{% extends "base.html" %}

{% block title %}赛事{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/game.css">
{% endblock %}

{%block body%}
<div class="container-fluid" style="margin-top:20px;">

	{% if playing %}
	<div class="panel games_bg">
		<table class="table">
			<tr>
				<td class="text-center"><img class="img-circle img_size red_img_border" src="{{ playing.red_rear.headimgurl }}" /></td>
				<td class="text-center"><img class="img-circle img_size red_img_border" src="{{ playing.red_van.headimgurl }}" /></td>

				<td class="text-center"><img class="img-circle img_size blue_img_border" src="{{ playing.blue_van.headimgurl }}" /></td>
				<td class="text-center"><img class="img-circle img_size blue_img_border" src="{{ playing.blue_rear.headimgurl }}" /></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="/games/{{ playing.id }}/" style="color:white;">查看>></a></td>
			</tr>
		</table>
	</div>
	{% endif %}

	<div class="panel games_bg">
		<table class="table">
			<tr>
				<td class="text-center"> {% if waiting.red_rear %} <img class="img-circle img_size red_img_border" src="{{ waiting.red_rear.headimgurl }}" /> {% else %}
				<button type="button" class="noborder btn-link" onclick="join_game('{{waiting.id}}', 'red_rear')">
					<img class="img-circle img_size red_img_border" src="/static/images/blank_plus.png" />
				</button> {% endif %} </td>
				<td class="text-center"> {% if waiting.red_van %} <img class="img-circle img_size red_img_border" src="{{ waiting.red_van.headimgurl }}" /> {% else %}
				<button type="button" class="noborder btn-link" onclick="join_game('{{waiting.id}}', 'red_van')">
					<img class="img-circle img_size red_img_border" src="/static/images/blank_plus.png" />
				</button> {% endif %} </td>

				<td class="text-center"> {% if waiting.blue_van %} <img class="img-circle img_size blue_img_border" src="{{ waiting.blue_van.headimgurl }}" /> {% else %}
				<button type="button" class="noborder btn-link" onclick="join_game('{{waiting.id}}', 'blue_van')">
					<img class="img-circle img_size blue_img_border" src="/static/images/blank_plus.png" />
				</button> {% endif %} </td>
				<td class="text-center"> {% if waiting.blue_rear %} <img class="img-circle img_size blue_img_border" src="{{ waiting.blue_rear.headimgurl }}" /> {% else %}
				<button type="button" class="noborder btn-link" onclick="join_game('{{waiting.id}}', 'blue_rear')">
					<img class="img-circle img_size blue_img_border" src="/static/images/blank_plus.png" />
				</button> {% endif %} </td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="/games/{{ waiting.id }}/" style="color:white;">查看>></a></td>
			</tr>
		</table>
	</div>

	<div class="row">
		<div class="text-center">
			<a href="/games/history/" ><img class="" style="margin-top:50px;wdith:200px;height:50px;" src="/static/images/history.png"/></a>
		</div>
	</div>
	{%endblock%}
