{% extends "base.html" %}

{% block title %}赛事{% endblock %}

{%block body%}

{% if playing %}
<div class="container-fluid">
  <div class="col-md-3 col-xs-3 ">
		{{ playing.red_van.nickname }}
  </div>
  <div class="col-md-3 col-xs-3 ">
		{{ playing.red_rear.nickname }}
  </div>
  <div class="col-md-3 col-xs-3 ">
		{{ playing.blue_van.nickname }}
  </div>
  <div class="col-md-3 col-xs-3 ">
		{{ playing.blue_rear.nickname }}
  </div>
		<a href="/games/{{ playing.id }}/">Detail</a>
</div>
{% endif %}

{{ wating }}
====
<div class="container-fluid">
  <div class="row games_bg">
	<div class="col-md-3 col-xs-3">
        {% if waiting.red_van %}
         <img src="/static/images/player_img.jpg"/>
	{% else %}
	 <a href="/games/{{ waiting.id }}/join?pos=red_van"><img src="/static/images/red_join.jpg"/></a>
         
	{% endif %}
	</div>
	<div class="col-md-3 col-xs-3">
	{% if waiting.red_rear %}
		{{ waiting.red_rear.nickname }}
	{% else %}
		<a href="/games/{{ waiting.id }}/join?pos=red_rear"><img src="/static/images/red_join.jpg"/></a>
	{% endif %}
	</div>
	<div class="col-md-3 col-xs-3">
	{% if waiting.blue_van %}
		{{ waiting.blue_van.nickname }}
	{% else %}
		<a href="/games/{{ waiting.id }}/join?pos=blue_van">Join</a>
	{% endif %}
	</div>
	<div class="col-md-3 col-xs-3">
	{% if waiting.blue_rear %}
		{{ waiting.blue_rear.nickname }}
	{% else %}
		<a href="/games/{{ waiting.id }}/join?pos=blue_rear">Join</a>
	{% endif %}
	</div>
	<div class="col-md-12">
	<a href="/games/{{ waiting.id }}/">Detail</a>
	</div>
  </div>
</div>
===
<div>
	<a href="/games/history/" >history</a>
</div>

{%endblock%}
