{% extends "base.html" %}

{%block body%}

<!-- waiting -->

<div class="container-fluid" style="margin-top:20px;">
		<div class="panel panel-default">
			<div class="panel-heading text-center" style="font-size:18px;">赛事完成</div>
			<div class="panel-body">
				<p class="text-center center-block" style="">
					<span style="font-size:25px;color:red;">
					00
					</span>
					<span style="font-size:25px;"> : </span>
					<span style="font-size:25px;color:blue;">
					00
					</span>
				</p>				
			</div>
			<p style="height:210px;"></p>
			<img src="/static/images/winer250.png"  style="position:absolute;left:45px;top:130px;"/>
			<div style="position:absolute;">
			<img class="img-circle img_size score_float winer_float winer_van"  src="/static/images/head_img.jpg"/>
			<img class="img-circle img_size score_float winer_float winer_rear"  src="/static/images/red_join.png"/>
			<img class="img-circle img_size score_float loser_float loser_van"  src="/static/images/red_join.png"/>
			<img class="img-circle img_size score_float loser_float loser_rear"  src="/static/images/red_join.png"/>
			</div>
			<div class="panel-footer">
				<p>
				比赛进行到7分21秒，红队以10:3 的比分击败了蓝队。
				</p>
			</div>
	    </div>
</div>
{% endblock %}


