{% extends "base.html" %}

{%block body%}

<!-- waiting -->

<div class="container-fluid" style="margin-top:20px;">
		<div class="panel panel-default">
			<div class="panel-heading text-center" style="font-size:18px;">赛事完成</div>
			<div class="panel-body">
				<p class="text-center center-block" style="">
					<span style="font-size:25px;color:red;">
					00
					</span>
					<span style="font-size:25px;"> : </span>
					<span style="font-size:25px;color:blue;">
					00
					</span>
				</p>				
			</div>
				<table class="table" style="border:none;background-image:url(/static/images/winer250.png);background-repeat:no-repeat;">
					<tr>
						<td class="pull-left">

						</td>
						<td class="pull-left">

						</td>
						<td>
							<p></p>
						</td>
						<td>
							<p></p>
						</td>
					</tr>
					<tr>
						<td class="pull-left">
							<img class="img-circle img_size red_img_border" src="/static/images/head_img.jpg"/>
						</td>
						<td class="pull-left">
							<img class="img-circle img_size red_img_border" src="/static/images/head_img.jpg"/>
						</td>
						<td>
							<p></p>
						</td>
						<td>
							<p></p>
						</td>						
					</tr>
						<tr>
						<td class="pull-left">

						</td>
						<td class="pull-left">

						</td>
						<td>
							<p></p>
						</td>
						<td>
							<p></p>
						</td>
					</tr>
					<tr>
						<td>
							<p></p>
						</td>
						<td>
							<p></p>
						</td>						
						<td class="pull-left">
							<img class="img-circle img_size red_img_border" src="/static/images/head_img.jpg"/>
						</td>
						<td class="pull-left">
							<img class="img-circle img_size red_img_border" src="/static/images/head_img.jpg"/>
						</td>						
					</tr>							
				</table>
			<div class="panel-footer">
				<p>
				比赛进行到7分21秒，红队以10:3 的比分击败了蓝队。
				</p>
			</div>
	    </div>
</div>


{% endblock %}


