{% extends "base.html" %}

{% block title %}赛事{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/game.css">
{% endblock %}

{%block body%}
<div class="container-fluid" style="margin-top:20px;">
	{% if playing %}
	<div class="panel games_bg">
		<table class="table">
			<tr>
				<td rowspan="2" style="padding:7px;">
				  <img class="img-circle img_size red_img_border" src="{{ playing.red_rear.headimgurl }}" />
				  </br>
				  <span style="font-size:12px;">红队防守</span>
				</td>
				<td colspan="3" align="center" class="white lead" style="font-size:13px;">
				</td>
				<td rowspan="2">
				  <img class="img-circle img_size blue_img_border" src="{{ playing.blue_rear.headimgurl }}" />
				  </br>
				  <span style="font-size:12px;">蓝队防守</span>
				</td>
			</tr>
			<tr>
				<td class="no-top-border">
				  <img class="img-circle img_size red_img_border" src="{{ playing.red_van.headimgurl }}" />
				  </br>
				  <span style="font-size:12px;">红队进攻</span>
				</td>
				<td align="center" class="no-top-border white" style="font-size:9px;padding-top:26px;">VS</td>
				<td class="no-top-border">
				  <img class="img-circle img_size blue_img_border" src="{{ playing.blue_van.headimgurl }}" />
				  </br>
				  <span style="font-size:12px;">蓝队进攻</span>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="white">正在比赛</td>
				<td style="padding:7px;"><a href="/games/{{ playing.id }}/" class="white">查看 >></a></td>
			</tr>
		</table>
	</div>
	
	{%endif%}
	<div class="panel games_bg">
		<table class="table">
			<tr>
				<td rowspan="2" style="padding:7px;">
				  {% if waiting.red_rear %} <img class="img-circle img_size red_img_border" src="{{ waiting.red_rear.headimgurl }}" /> {% else %}
				<button type="button" class="btn-link noborder" onclick="join_game('{{waiting.id}}', 'red_rear')">
					<img class="img-circle img_size red_img_border" src="/static/images/blank_plus.png" />
				</button> {% endif %} 
				  </br>
				  <span style="font-size:12px;">红队防守</span>
				</td>
				<td colspan="3" align="center" class="white lead" style="font-size:13px;">
				  <!--<span class="red">{{ g.red_score }}</span> : <span class="blue">{{ g.blue_score }}</span>-->
				  直接点击抢位置
				</td>
				<td rowspan="2">
				  {% if waiting.blue_rear %} <img class="img-circle img_size blue_img_border" src="{{ waiting.blue_rear.headimgurl }}" /> {% else %}
				<button type="button" class="btn-link noborder" onclick="join_game('{{waiting.id}}', 'blue_rear')">
					<img class="img-circle img_size blue_img_border" src="/static/images/blank_plus.png" />
				</button> {% endif %}
				  </br>
				  <span style="font-size:12px;">蓝队防守</span>
				</td>
			</tr>
			<tr>
				<td class="no-top-border">
				  {% if waiting.red_van %} <img class="img-circle img_size red_img_border" src="{{ waiting.red_van.headimgurl }}" /> {% else %}
				  <button type="button" class="btn-link noborder" onclick="join_game('{{waiting.id}}', 'red_van')">
				    <img class="img-circle img_size red_img_border" src="/static/images/blank_plus.png" />
				  </button> {% endif %} 
				  </br>
				  <span style="font-size:12px;">红队进攻</span>
				</td>
				<td align="center" class="no-top-border white" style="font-size:9px;padding-top:26px;">VS</td>
				<td class="no-top-border">
				  {% if waiting.blue_van %} <img class="img-circle img_size blue_img_border" src="{{ waiting.blue_van.headimgurl }}" /> {% else %}
				<button type="button" class="btn-link noborder" onclick="join_game('{{waiting.id}}', 'blue_van')">
					<img class="img-circle img_size blue_img_border" src="/static/images/blank_plus.png" />
				</button> {% endif %} 
				  </br>
				  <span style="font-size:12px;">蓝队进攻</span>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="white">等待加入</td>
				<td style="padding:7px;"><a href="/games/{{ waiting.id }}/" class="white">查看 >></a></td>
			</tr>
		</table>
	</div>

	<div class="row">
		<div class="text-center">
			<a href="/games/history/" ><img class="" style="margin-top:50px;wdith:200px;height:50px;" src="/static/images/history.png"/></a>
		</div>
	</div>
</div>
{% endblock %}
