{%extends "base.html"%}

{% block title %}{{ user.player.nickname }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/me.css">
{% endblock %}

{%block body%}
<div class="container">
	<div>
		<p class="text-right white">
			点击右上角分享此页面 ↑️
		</p>
	</div>
	<div class="well mt20">
		<div class="row">
			<p class="text-center">
				<img src="{{ user.player.headimgurl }}" class="img-circle" width="80">
			</p>
			<p class="text-center">
				{{ user.player.nickname }}
			</p>
		</div>
		<div class="row">
			<p class="text-left">
				<strong>排名:</strong> {{ rank }} / {{ tot_players }}
			</p>
		</div>
		<div class="row">
			<p class="text-left">
				<strong>成绩:</strong> 胜 {{ win }} / 负 {{ lost }}
			</p>
		</div>
		<div class="row">
			<p class="text-left">
				<strong>拍档</strong>：{% for i in partners %}<img src="{{ i.headimgurl }}" class="img-circle" width="40">&nbsp;{% endfor %}
			</p>
		</div>
		<div class="row">
			<p class="text-center">
				<a class="btn btn-success" href="/games/history/?player={{ user.player.id }}">
					赛事记录
				</a>
			</p>
		</div>
	</div>
</div>
{%endblock%}
