{% extends "base.html" %}

{% block title %}选手{% endblock %}

{%block body%}
<div class="container">
	<div>
		<p class="text-right">
			点击右上角分享此页面 ↑️
		</p>
	</div>

	{% for i in players %}
	<div class="well">
		<div class="row">
			<table width="100%">
				<tbody>
					<tr>
						<td>{{ forloop.counter }}</td>
						<td width="50"><img src="{{ i.0.headimgurl }}" class="img-circle" width="40"></td>
						<td>{{ i.0.nickname }}</td>
						<td align="right">胜 {{ i.1 }} / 负 {{ i.2 }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	{% endfor %}
</div>
{%endblock%}
