<html>
  <title>Score  </title>
  <body>
    <div style="color:blue;">
    Team blue</br>
    player1 {{score_board.teams.blue.attack.nick_name}} attack </br>
    player2 {{score_board.teams.blue.defence.nick_name}} defence
    </div>
</br>
</br>
====================================================================================================
</br>
</br>
    <div style="color:red;">
    Team Red</br>
    player1 {{score_board.teams.red.attack.nick_name}} attack </br>
    player2 {{score_board.teams.red.defence.nick_name}} defence
    </div>
  </body>
</html>
