html { 
  background: url("/static/images/bg_players.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background-color:rgba(255,0,0,0);
}

.games_bg {
	background-color: #1fad5f;
}
.games_panel {
	height: 100px;
}
.games_margin {
	margin-left: 1px;
	margin-right: 1px;
}
.game_col {
	margin-top: 20px;
}
.img_size {
	width: 45px;
	height: 45px;
}
.red_img_border {
	border: solid 1px red;
}
.blue_img_border {
	border: solid 1px blue;
}

.score_float {
	float: left;
}
.winer_float {
	left: 30px;
	top: 155px;
}

.winer_rear {
	left: 93px;
	top: 150px;
}

.loser_float {
	left: 150px;
	top: 280px;
}

.loser_rear {
	left: 220px;
}

.tbl_player > tbody > tr > td {
	border-top: none;
}

.no-top-border {
	border-top: none !important;
}

.mt20 {
	margin-top: 20px;
}

.white {
	color: #FFF;
}

.red {
	color: red;
}

.blue {
	color: blue;
}