@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0; }
.font {
	font-family:"微软雅黑";
	text-align:center;
	font-weight:bolder;
	text-shadow: #555 0px 2px 1px, #555 2px 0px 1px, #555 -2px 0px 1px, #555 0px -2px 1px, #555 -1.4px -1.4px 1px, #555 1.4px 1.4px 1px, #555 1.4px -1.4px 1px, #555 -1.4px 1.4px 1px;
}
.box{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#fff2e5;
	text-align:center;
}
.box1 {
	top:0;
	left:0;
}
.box1 .home_top,.box2 .home_top{
	width:100%;
}
.box1 p {
	width:70%;
	margin:0 auto;
	text-align:left;
}
.box1 .createTitle {
	margin-top:5%;
	color:#fff;
	font-size:1.2em;
}
.box1 .name_input,.box1 .name_input:active,.box1 .name_input:focus {
	width:70%;
	height: 35px;
	margin-top:5px;
	border: #555 4px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration:none;
	outline:none;
	text-indent:10px;
}

.box1 .picTitle {
	margin-top:10%;
	color:#fff;
	font-size:1.2em;
}
.box1 .headPic{
	width: 45%;
	margin-top: 5px;
}
.box1 .createBtn {
	width: 80%;
	margin-top: 5%;
}

.box2 {
	top:0;
	left:100%;
}
.box2 .createTips{
	width:70%;
	margin: 5% auto;
	text-align: left;
	color: #fff;
	font-size: 1.2em;
}
.box2 ul {
	list-style:none;
	text-align:center;
}
.box2 ul li {
	width:70%;
	margin:5% auto;
	padding:5px;
	border:#555 4px solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#1DBB1C;
}
.box2 ul li img{
	vertical-align:middle;
	width:20%;
	
}
.box2 ul li p {
	display:inline-block;
	margin:0;
}
.box2 ul li span {
	display:block;
}
.box2 ul li .user {
	color:#fff;
	vertical-align:middle;
}
.box2 ul li .user .user_name {
	font-size:1.2em;
}
.box2 ul li .user .pet_name {
	font-size:1.5em;
}
.box2 ul li .temp_wet {
	margin-left:10%;
	font-size:1.4em;
	vertical-align:middle;
}
.box2 ul li .temp_wet .temp {
	color:#ff9899;
}
.box2 ul li .temp_wet .wet {
	color:#64ccff;
}
.box2 .invitation {
	position: absolute;
	top: 90%;
	left:0;
	width: 100%;
	color: #1DBB1C;
	font-size: 1.3em;
	text-shadow: #333 0px 2px 1px, #333 2px 0px 1px, #333 -2px 0px 1px, #333 0px -2px 1px, #333 -1.4px -1.4px 1px, #333 1.4px 1.4px 1px, #333 1.4px -1.4px 1px, #333 -1.4px 1.4px 1px;
}



.box3 {
	background-color:#fff;
	bottom:-100%;
	left:0;
}
.box3 .shark {
	text-align: right;
	margin: 5px 10px;
	font-size: 0.5em;
	font-weight:bold;
}
.box3 .join_introduction {
	width: 70%;
	margin: 20% auto;
	text-align: left;
	font-size: 1.5em;
	font-weight:bold;
	word-break: break-all;
}
.box3 .joinBtn {
	width:80%;
	margin-top:10%;
}
.ajaxloading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:10;
	background-color:rgba(0,0,0,.8);
	display:none;
}
.ajaxloading p {
	width:100%;
	position:fixed;
	top:48%;
	left:0;
	color: #fff;
	text-align:center;
}
.ajaxloading .loadImg{
	vertical-align: middle;
	width: 10%;
	margin-right: 10px;
}
.rotationAnimate {
	animation: rotation 2s linear infinite;
	-moz-animation: rotation 2s linear infinite;	/* Firefox */
	-webkit-animation: rotation 2s linear infinite;	/* Safari 和 Chrome */
	-o-animation: rotation 2s linear infinite;	/* Opera */
}
@keyframes rotation
{
0%   {transform:rotate(0deg);}
100% {transform:rotate(360deg);}
}

@-moz-keyframes rotation /* Firefox */
{
0%   {-moz-transform:rotate(0deg);}
100% {-moz-transform:rotate(360deg);}
}

@-webkit-keyframes rotation /* Safari 和 Chrome */
{
0%   {-webkit-transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);}
}

@-o-keyframes rotation /* Opera */
{
0%   {-o-transform:rotate(0deg);}
100% {-o-transform:rotate(360deg);}
}